.nav i {
    padding-right: 10px;
}

.table i {
	padding: 0 10px;
}

.form-group 
{
  input, 
  select, 
  textarea, 
  .css-yk16xz-control {
    border: 1px solid #999;  
  }
	
}

.color-red {
	color: #ff4747;
}

.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.checkbox-table .cr .cr-icon {
  left: -40%;
}

th .checkbox-table .cr .cr-icon {
  left: -64%;
}


th.th-checkbox-table {
  padding: 0 12px;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}

.form-check .form-check-label-single {
  margin-left: 0;
}

.select-auto.has-danger input {
  border-color: $red;
}

.button-delete {
  color: $red;
}



.table-main-actions 
{
  .new, h3 {
    float: left;
  }

  .new{
    margin: 0 10px;
    padding: 2px 5px;
  }

  .search {
    float: right; 
    width: 30%;
  }

}

.page-body-wrapper {

  padding-left: 0;
  padding-right: 0;

}

/* Fix sidebar */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 257px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
}

.main-panel-left {
  margin-left: 257px;
}

.navbar-toggler .fa-bars {
  color: #4a4a4a;
}


.show-box {
  
  margin-top: 20px;

  .label{
    display: inline-block;
    font-weight: bolder;
  }
}

.sort-up:after {
  content:' \001e';
  color: $grey;
}

.sort-down:after {
  content:' \001f';
  color: $grey;
}

.sort-dot:after {
  content:' \0007';
  color: $grey;
}

.page-loader {
    position: fixed;
  z-index: 9999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  :after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
  }

}

.sort-up, .sort-down, .sort-dot {
  cursor: pointer;
}

.tab-content {
  padding-left: 100px;
}

.mrb-20 {
  margin-bottom: 20px;
}

.cardImage {
  width: 800px;
  display: block;
  margin-bottom: 20px; 
}