ul.pagination {
	float: right;
}

.pagination {
	li {
		display: inline-block;
		border: 1px solid $grey;
		padding: 5px 10px;
		margin: 1px;
		cursor: pointer;
		
	}
	.selected {
		background-color: $blue;
		
		border: 0px;

		a {
			color: #FFF;
		}
	}


}
